
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hbgred animated fadeInLeft">
                <div class="panel-body">
                    <div class="text-center">
                        <h2>Warning!</h2>
                        <h3>
                            @ViewBag.Error
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>